<form action="compare" method="POST">
    <label for="trading-symbol">Trading symbol 1:</label>
    <input type="text" id="trading-symbol" name="trading_symbol">
    <label for="trading-symbol">Trading symbol 2:</label>
    <input type="text" id="trading-symbol" name="trading_symbol">
</form>