Compare two companies:
<form style="display: flex; flex-direction: column; width: 50%;" action="../compare" method="GET">
    <label for="trading-symbol">Trading symbol 1:</label>
    <input type="text" id="trading-symbol-1" name="trading_symbol_1">
    <label for="trading-symbol">Trading symbol 2:</label>
    <input type="text" id="trading-symbol-2" name="trading_symbol_2">
    <button style="margin-top: 10px;" type="submit">Submit</button>
</form>